.big_words_one
{
    color:white;
}

.big_words_two
{
    color:white;
}

.words_one
{
    color:white;
}

<<<<<<< Updated upstream
body
{
    background-color: #696969;
=======
.row:after {
    content: "";
    display: table;
    clear: both;
}

.white-font-list {
    color: white;
    float: center;
    
>>>>>>> Stashed changes
}